main{
    width: 80%;
    margin: 0 auto;
    position: relative;
    .baner{
        padding: 3% 0;
        a{
            display: flex;
            margin-bottom: 5%;
            img{
                width: 100%;                
            }
        }
        // =============== Responsive baner =============
        .responsove-baner{
            display: none;
        }
    }
    // ================== cards-big in another file ==============
    // ================ Sneakers Styles ============
    .sneakers-styles{
        margin: 4% 0;
        padding: 2% 0;
        h1{
            font-size: $card-font-size;
        }
        p{
            font-size: calc($fs + 0.2vw);
        }
        div{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 3%;
            a{
                width: 24%;
                display: flex;
                img{
                    width: 100%;
                }
            }
        }
    }
    // ==================== Shoes sorts ==================
    .shoes-sorts{
        width: 100%;
         overflow: scroll;
         margin: 3% 0;
         padding: 2% 0;
        h1{
            font-size: $card-font-size;
            
        }
        p{
            font-size: calc($fs + 0.2vw);
            
        }
        &::-webkit-scrollbar{
            width: 0vw;
            height: 0.5vw;
        }
        &::-webkit-scrollbar-thumb{
            background-color: rgb(141, 141, 141);
            border-radius: 10px;
        }
        .shoes-sorts-container{
            display: flex;
            margin: 2% 0;
            white-space: nowrap;
            
            div{
                margin-right: 2%;
                border: 0.1vw rgb(221, 221, 221) solid;
                a{
                    img{
                        width: 13vw;
                    }
                }
                p{
                    font-size: $fs;
                    text-align: center;
                    padding: 3% 0;
                    
                }
            }
        }
            
    }
    // ==================== Zuletzt angesehen =======================
    .zuletzt-angesehen{
        margin: 4% 0;
        h1{
            font-size: $card-font-size;
        }
        div{
            display: flex;
            flex-direction: column;
            width: 25%;
            background-color: $card-bg;
            padding: 1%;
            margin-top: 1%;
            margin-right: 2%;
            span{
                display: flex;
                justify-content: flex-end;
                margin-bottom: 2%;
                i{
                    font-size: $card-font-size;
                    color: white;
                    -webkit-text-stroke: 0.1vw black;
                }
            }
            a{
                img{
                    width: 100%;
                }
            }
            b{
                font-size: $card-font-size;
                color: $price-color;
            }
            p{
                font-size: $card-font-size;
                margin: 2% 0;
            }
            small{
                font-size: $fs;
                font-weight: bold;
            }

        }
    }
    // ================= baner2 ================
    .baner2{
        margin: 5% 0;
        a{
            img{
                width: 100%;
            }
        }
        .responsove-baner{
            display: none;
        }
    }
    // =============== up btn =================
    
}