main{
    width: 70%;
    margin: 0 auto;
    .baner{
        padding: 3% 0;
        a{
            display: flex;
            margin-bottom: 5%;
            img{
                width: 100%;                
            }
        }
        // =============== Responsive baner =============
        .responsove-baner{
            display: none;
        }
    }
    // ================== cards ==============
    
}