header .logo-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
  padding: 0.7% 0;
}
header .logo-section .logo {
  width: 20%;
  display: flex;
}
header .logo-section .logo img {
  width: 100%;
}
header .logo-section .header-right {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo-section .header-right span {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
}
header .logo-section .header-right span .herren, header .logo-section .header-right span .kinder {
  border-bottom: 0.2vw red solid;
  color: red;
}
header .logo-section .header-right span:nth-child(2) {
  width: 30%;
}
header .logo-section .header-right span a {
  font-size: 0.9vw;
  text-decoration: none;
  color: black;
}
header .logo-section .header-right span a i {
  font-size: 1vw;
  color: white;
  -webkit-text-stroke: 0.1vw rgb(0, 0, 0);
}
header nav {
  border-top: 0.1vw rgb(199, 199, 199) solid;
  border-bottom: 0.1vw rgb(199, 199, 199) solid;
  padding: 0.6% 0;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}
header nav .hamburger {
  display: none;
}
header nav ul {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li {
  list-style: none;
  width: 15%;
  display: flex;
  justify-content: center;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 0.9vw;
}
header nav form {
  width: 30%;
  display: inline-flex;
  align-items: center;
  background-color: rgb(248, 248, 248);
  border: 0.1vw rgb(199, 199, 199) solid;
}
header nav form input {
  width: 100%;
  font-size: 0.9vw;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 2% 0;
}
header nav form button {
  padding: 3%;
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav form button i {
  font-size: 1vw;
}

main {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
main .list-mobile {
  display: none;
}
main .baner a {
  display: flex;
  margin-bottom: 5%;
}
main .baner a img {
  width: 100%;
  height: 100%;
}
main .baner .responsove-baner {
  display: none;
}
main .sneakers-styles {
  margin: 4% 0;
  padding: 2% 0;
}
main .sneakers-styles h1 {
  font-size: 1.4vw;
}
main .sneakers-styles p {
  font-size: 1.1vw;
}
main .sneakers-styles div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3%;
}
main .sneakers-styles div a {
  width: 24%;
  display: flex;
}
main .sneakers-styles div a img {
  width: 100%;
  height: 100%;
}
main .shoes-sorts {
  width: 100%;
  overflow: scroll;
  margin: 3% 0;
  padding: 2% 0;
}
main .shoes-sorts h1 {
  font-size: 1.4vw;
}
main .shoes-sorts p {
  font-size: 1.1vw;
}
main .shoes-sorts::-webkit-scrollbar {
  width: 0vw;
  height: 0.5vw;
}
main .shoes-sorts::-webkit-scrollbar-thumb {
  background-color: rgb(141, 141, 141);
  border-radius: 10px;
}
main .shoes-sorts .shoes-sorts-container {
  display: flex;
  margin: 2% 0;
  white-space: nowrap;
}
main .shoes-sorts .shoes-sorts-container div {
  margin-right: 2%;
  border: 0.1vw rgb(221, 221, 221) solid;
}
main .shoes-sorts .shoes-sorts-container div a img {
  width: 13vw;
}
main .shoes-sorts .shoes-sorts-container div p {
  font-size: 0.9vw;
  text-align: center;
  padding: 3% 0;
}
main .zuletzt-angesehen {
  margin: 4% 0;
}
main .zuletzt-angesehen h1 {
  font-size: 1.4vw;
}
main .zuletzt-angesehen div {
  display: flex;
  flex-direction: column;
  width: 25%;
  background-color: #f7f8f8;
  padding: 1%;
  margin-top: 1%;
  margin-right: 2%;
}
main .zuletzt-angesehen div span {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2%;
}
main .zuletzt-angesehen div span i {
  font-size: 1.4vw;
  color: white;
  -webkit-text-stroke: 0.1vw black;
}
main .zuletzt-angesehen div a img {
  width: 100%;
}
main .zuletzt-angesehen div b {
  font-size: 1.4vw;
  color: #00aa7a;
}
main .zuletzt-angesehen div p {
  font-size: 1.4vw;
  margin: 2% 0;
}
main .zuletzt-angesehen div small {
  font-size: 0.9vw;
  font-weight: bold;
}
main .baner2 {
  margin: 5% 0;
}
main .baner2 a img {
  width: 100%;
  height: 100%;
}
main .baner2 .responsove-baner {
  display: none;
}

main .cards-big {
  width: 100%;
  overflow: scroll;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 4% 0;
  padding: 2% 0;
}
main .cards-big::-webkit-scrollbar {
  width: 0vw;
  height: 0.5vw;
}
main .cards-big::-webkit-scrollbar-thumb {
  background-color: rgb(141, 141, 141);
  border-radius: 10px;
}
main .cards-big .card-big-container {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
main .cards-big .card-big-container div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.8%;
  background-color: #f7f8f8;
  margin-right: 1%;
}
main .cards-big .card-big-container div span {
  display: flex;
  justify-content: space-between;
}
main .cards-big .card-big-container div span h2 {
  font-size: 1.1vw;
  font-weight: lighter;
}
main .cards-big .card-big-container div span i {
  font-size: 1.1vw;
  color: white;
  -webkit-text-stroke: 0.1vw black;
}
main .cards-big .card-big-container div .shoe-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
main .cards-big .card-big-container div .shoe-container a {
  display: flex;
}
main .cards-big .card-big-container div .shoe-container a img {
  width: 17vw;
  height: 100%;
}
main .cards-big .card-big-container div .shoe-container b {
  font-size: 1.4vw;
  color: #00aa7a;
  margin: 3% 0;
}
main .cards-big .card-big-container div .shoe-container .red {
  color: red;
}
main .cards-big .card-big-container div .shoe-container .red del {
  color: rgb(153, 153, 153);
  font-weight: lighter;
}
main .cards-big .card-big-container div .shoe-container p {
  font-size: 1.2vw;
}
main .cards-big .card-big-container div .shoe-container small {
  font-size: 0.9vw;
  margin: 3% 0;
  font-weight: bold;
}
main .cards-big .card-big-container div .shoe-container .stars {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}
main .cards-big .card-big-container div .shoe-container .stars i {
  font-size: 0.9vw;
}
main .cards-big .card-big-container div .shoe-container .stars .gray-stars {
  color: rgb(202, 202, 202);
}
main .cards-big .card-big-container div .hidden-stars {
  visibility: hidden;
}
main .cards-big .card-big-container div .lonely-heart {
  display: flex;
  justify-content: flex-end;
}

footer {
  background-color: #f7f8f8;
  width: 100%;
  padding: 3% 0;
  position: relative;
}
footer .footer-top {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .footer-top div {
  width: 24%;
  display: flex;
  flex-direction: column;
  line-height: 2vw;
}
footer .footer-top div h1 {
  font-size: 1.4vw;
  margin-bottom: 4%;
}
footer .footer-top div p {
  font-size: 0.9vw;
}
footer .footer-top div a {
  text-decoration: none;
  color: black;
  font-size: 0.9vw;
}
footer .footer-top div a i {
  color: white;
  -webkit-text-stroke: 0.1vw black;
  margin-right: 2%;
}
footer .footer-top div .tel {
  color: rgb(1, 68, 107);
}
footer .up-btn {
  width: fit-content;
  padding: 3%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  position: fixed;
  animation: up 1s alternate infinite;
}
footer .up-btn a {
  color: green;
}
footer .up-btn a i {
  font-size: 2.5vw;
  background-color: rgba(128, 128, 128, 0.082);
  padding: 1vw;
  border-radius: 50%;
}

@keyframes up {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}
@media only screen and (max-width: 800px) {
  header .logo-section {
    width: 100%;
    padding: 1% 2%;
  }
  header .logo-section .logo {
    width: 60%;
  }
  header .logo-section .header-right {
    width: 40%;
    justify-content: flex-end;
  }
  header .logo-section .header-right .mobile-hidden {
    display: none;
  }
  header .logo-section .header-right span {
    width: 80% !important;
  }
  header .logo-section .header-right span a i {
    font-size: 4.5vw;
  }
  header nav {
    padding: 1% 2%;
    width: 100%;
  }
  header nav .hamburger {
    display: block;
    width: 20%;
  }
  header nav .hamburger i {
    font-size: 8.8vw;
  }
  header nav ul {
    width: 100%;
    margin: 0;
    display: none;
  }
  header nav form {
    width: 75%;
  }
  header nav form input {
    font-size: 3.3vw;
  }
  header nav form button i {
    font-size: 3.8vw;
  }

  main {
    width: 100%;
  }
  main .baner .baner-main {
    display: none;
  }
  main .baner .responsove-baner {
    display: block;
  }
  main .cards-big {
    overflow: visible;
  }
  main .cards-big .card-big-container {
    overflow: scroll;
  }
  main .cards-big .card-big-container div span h2 {
    font-size: 2.8vw;
  }
  main .cards-big .card-big-container div span i {
    font-size: 2.8vw;
  }
  main .cards-big .card-big-container div .shoe-container a img {
    width: 35vw;
  }
  main .cards-big .card-big-container div .shoe-container b {
    font-size: 3.3vw;
  }
  main .cards-big .card-big-container div .shoe-container p {
    font-size: 2.8vw;
  }
  main .cards-big .card-big-container div .shoe-container small {
    font-size: 2.3vw;
  }
  main .cards-big .card-big-container div .shoe-container .stars i {
    font-size: 2.1vw;
  }
  main .sneakers-styles h1 {
    font-size: 3.8vw;
  }
  main .sneakers-styles p {
    font-size: 2.8vw;
  }
  main .sneakers-styles div a {
    width: 100%;
    margin-bottom: 5%;
  }
  main .shoes-sorts {
    overflow: visible;
  }
  main .shoes-sorts h1 {
    font-size: 3.8vw;
  }
  main .shoes-sorts p {
    font-size: 2.8vw;
  }
  main .shoes-sorts .shoes-sorts-container {
    overflow: scroll;
  }
  main .shoes-sorts .shoes-sorts-container div a img {
    width: 36vw;
  }
  main .shoes-sorts .shoes-sorts-container div p {
    font-size: 2.8vw;
  }
  main .zuletzt-angesehen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .zuletzt-angesehen h1 {
    font-size: 3.8vw;
  }
  main .zuletzt-angesehen div {
    width: 50%;
  }
  main .zuletzt-angesehen div span i {
    font-size: 2.8vw;
  }
  main .zuletzt-angesehen div b {
    font-size: 3.3vw;
  }
  main .zuletzt-angesehen div p {
    font-size: 2.8vw;
  }
  main .zuletzt-angesehen div small {
    font-size: 1.8vw;
  }
  main .baner2 .responsove-baner {
    display: block;
  }
  main .baner2 .baner-main {
    display: none;
  }
  main .list-mobile {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 7%;
    display: none;
    animation: listDown 2s;
  }
  main .list-mobile ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  main .list-mobile ul li {
    background-color: rgb(32, 119, 32);
    animation: li 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    visibility: hidden;
    border-radius: 10px;
  }
  main .list-mobile ul li a {
    padding: 7% 5%;
    display: flex;
    font-size: 5vw;
    text-decoration: none;
    color: white;
    animation: ankor 1s;
    animation-delay: 2s;
    visibility: hidden;
    animation-fill-mode: forwards;
  }
  main .list-mobile ul .herren-mobile {
    background-color: transparent;
    border: 0.5vw green solid;
  }
  main .list-mobile ul .herren-mobile a {
    color: black;
  }
  main .list-mobile ul .kinder-mobile {
    background-color: transparent;
    border: 0.5vw green solid;
  }
  main .list-mobile ul .kinder-mobile a {
    color: black;
  }

  footer .footer-top {
    width: 100%;
    padding: 1% 3%;
  }
  footer .footer-top div {
    width: 50%;
    line-height: 5vw;
  }
  footer .footer-top div h1 {
    font-size: 2.8vw;
  }
  footer .footer-top div p {
    font-size: 1.8vw;
  }
  footer .footer-top div a {
    font-size: 1.8vw;
  }
  footer .up-btn {
    padding: 5%;
  }
  footer .up-btn a i {
    font-size: 2.8vw;
    background-color: white;
  }
}
@keyframes listDown {
  from {
    height: 2%;
    opacity: 0.7;
  }
  to {
    height: 7%;
    opacity: 1;
  }
}
@keyframes ankor {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
    visibility: visible;
  }
}
@keyframes li {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
    visibility: visible;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*# sourceMappingURL=main.css.map */
